@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
    font-family: 'Comic Neue', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 7rem;
}


header img{
    position: fixed;
    top: .3rem;
    right: .3rem;
    width: 11rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Espaça igualmente */
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 37.5rem;
    height: 100%; /* Preenche a altura disponível */
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça as imagens igualmente */
    align-items: center; /* Centraliza as imagens */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: darkgrey;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem; /* Mantém o tamanho original */
    height: auto;
}

.bottom-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 50%; /* Centraliza o lado esquerdo */
    transform: translateX(-50%); /* Compensa metade da largura para a centralização */
}